<footer class="page-footer font-small blue">
  <div class="footer-copyright text-center py-3">© 2020 Created By:
    <a href="​https://avinashmehta.herokuapp.com"> Avinash Mehta</a>
  </div>
</footer>